*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', Arial, sans-serif;
}
.back{
	background: #DB610F;
	display:flex;
	padding:0px 40px;
	align-items: center;
	font-size: 25px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	position: fixed;
	width: 100%;
	top:0;
}
.back i{
	cursor:pointer;
	padding: 10px;	
}
.back p{
	cursor:pointer;
	padding: 10px;
	font-size: 20px;
}
.anuncio{
	width: 70%;
	max-width: 1000px;
	margin:0 auto;
	margin-top: 100px;
	padding: 25px;
	box-shadow: 0px 0px 5px rgba(0,0,0, .5);
}
.anuncio .info{
	display: flex;
	justify-content: space-between;
	font-family: 'Oswald', 'Open Sans', Arial, sans-serif;
}
.anuncio .info h2{
	font-size: 30px;
	line-height: 28px;
	font-weight: 400;
}
.anuncio .info p{
	font-size: 20px;
}
.anuncio .info p span{
	font-weight: bold;
}
.anuncio .form{
	margin-top: 20px;
}
.anuncio .form form input[type="text"]{
	width: 100%;
	border:none;
	border:1px solid rgba(128,128,128,.7);
	margin-bottom: 20px;
	padding: 20px;
	font-size: 16px;
	border-radius: 3px;
	font-family: Arial, sans-serif;
}
.anuncio .form form textarea{
	padding: 20px;
	margin-bottom: 20px;
	border:1px solid rgba(128,128,128,.7);
	font-size: 16px;
	border-radius: 3px;
	font-family: Arial, sans-serif;
	min-width: 100%;
	max-width: 100%;
	max-height: 400px;
	min-height: 70px;
}
.anuncio .form form input[type="text"]:focus,
.anuncio .form form textarea:focus{
	padding: 19px;
	border:2px solid #505050;
}
.anuncio .form form .img{
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.3);
}
.anuncio .form form .img label{
	display: block;
}
.anuncio .form form input[type='file']{
	display:block;
}
.anuncio .form form .status{
	display:flex;
	justify-content: center;
	margin-bottom: 20px;
	padding: 10px 50px;
	border-bottom: 1px solid rgba(0,0,0,.3);
	align-items: center;
}
.anuncio .form form .status label{
	margin-right: 20px;
}
.anuncio .form form .error{
	margin:20px 0;
	margin-top: 0px;
	font-size: 17px;
	color:rgba(250,57,57,1);
	padding: 10px;
	border-bottom: .5px solid rgba(240,97,97,.7);
	text-align: center;
}
.anuncio .form form .error p{
	padding: 5px;
}
.anuncio .form form input[type='submit']{
	display:block;
	margin:10px auto;
	margin-top: 40px;
	border:none;
	cursor:pointer;
	background: #C04040;
	color:white;
	padding: 20px 80px;
	border-radius: 3px;
	font-size: 16px;
	font-family: Arial;
}
.anuncio .form form input[type='submit']:hover{
	background: #595959;
}

/*-----------------------------------------------*/
/*----------------Media Queries------------------*/
/*-----------------------------------------------*/

@media screen and (max-width: 1000px){
	.anuncio .form form .img{
		flex-wrap: wrap;
		width: 100%;
	}
	.anuncio .form form .img label{
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.anuncio .form form input[type='file']{
		margin:0 auto;
		width: 100%;
	}
	.back{
		padding: 0;
	}
}

@media screen and (max-width: 600px){
	.anuncio{
		width: 100%;
		box-shadow: none;
	}
	.anuncio .info{
		flex-wrap: wrap;
	}
	.anuncio .info h2{
		order:2;
	}
	.anuncio .info p{
		text-align: right;
		width: 100%;
		order:1;
	}
	.anuncio .form form .img label{
		font-size: 15px;
	}
	.anuncio .form form input[type='file']{
		margin:0 auto;
		text-align: center;
	}
	.anuncio .form form .img,
	.anuncio .form form .status{
		padding: 10px 0;
	}
	.anuncio .form form .status label{
		font-size: 14px;
		margin-bottom: 10px;
		text-align: center;
	}
	.anuncio .form form input[type='submit']{
		padding: 20px 60px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 450px){
	.anuncio .info p{
		font-size: 16px;
	}
	.anuncio .form form input[type='submit']{
		padding: 20px 50px;
		margin-top: 20px;
	}
}
