*{
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
}
body{
	font-family: "Roboto", Arial, sans-serif;
}
.content{
	width: 90%;
	margin:0 auto;
}

/*-----------------------Estilos head-----------------------*/

.mobile-menu{
	background: #DD7035;
	display: none;
}
.mobile-menu .content{
	display:flex;
	justify-content: space-between;
	color:white;
	padding: 10px;
}
.mobile-menu h1{
	font-size: 26px;
	font-weight: 400;
}
.mobile-menu i{
	font-size: 35px;
	font-weight: 300;
	cursor:pointer;
}
.head{
	max-height: 600px;
}
.head img{
	width: 100%;
	position:absolute;
	top:0;
	z-index: -1;
	height: 600px;
}
.head .nav{
	z-index: 999;
}
.head .nav nav{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
}
.head .nav nav a,
.head .nav nav .categorias{
	margin-left: 15px;
	padding: 20px;
	padding-bottom: 10px;
	text-decoration: none;
	color:white;
	font-weight: 400;
}
.head .nav nav .categorias{
	margin-left: 0;
	text-align: center;
	padding-left:10px;
	padding-bottom: 11px; 
}
.head .nav nav .categorias i{
	font-size: 18px;
	line-height: 20px;
	margin-left:-10px;
	line-height: 20px;
	cursor:pointer;
}
.head .nav nav a:hover,
.head .nav nav .categorias:hover{
	padding-bottom: 11px;
	border-bottom:1px solid rgba(0,0,0,.4);
}
.head .categories{
	position: absolute;
	top:50px;
	width: 50%;
	background: #F1AD29;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	left:25%;
	border-radius: 7px;
	padding: 10px 0px;
	text-align: center;
	visibility: hidden;
}
.head .categories a{
	text-align: center;
	width: 20%;
	padding: 10px 0px;
	cursor:pointer;
	border-bottom: 1px solid rgba(0,0,0,.3);
	margin: 10px;
	color:rgba(0,0,0,.5);
	font-weight: 300;
	font-size: 18px;
}
.head .categories a:hover{
	color:rgba(0,0,0,.7);
	border-bottom: 1px solid rgba(0,0,0,.5);
}

/*--------------------Estilos herramientas--------------------*/

.herramientas{
	margin-top: 545px;
	background: #232222;
}
.herramientas .menu{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}
.herramientas .menu h1{
	width: 45%;
	font-size: 22px;
	color:white;
	line-height: 38px;
	font-weight: 300;
}
.herramientas .menu .menu-btns{
	width: 55%;
	display:flex;
	justify-content: flex-end;
}
.herramientas .menu .menu-btns div{
	margin-left: 5px;
}
.herramientas .menu .menu-btns .login{
	display:flex;
	padding: 7px 15px;
	border:2px solid white;
	border-radius: 7px;
	cursor: pointer;
	transition: .5s all ease;
	color:white;
}
.herramientas .menu .menu-btns .login:hover,
.herramientas .menu .menu-btns .añadir:hover,
.herramientas .menu .menu-btns .buscar:hover,
.herramientas .menu .menu-btns .loged-user:hover,
.herramientas .menu .menu-btns .loged-arrow:hover{
	background: white;
	color: black;
}
.herramientas .menu .menu-btns .login i{
	margin-right: 5px;
	font-size: 18px;
}
.herramientas .menu .menu-btns .login p{
	font-weight: 500;
}
.herramientas .menu .menu-btns .loged{
	display:flex;
}
.herramientas .menu .menu-btns .loged-user,
.herramientas .menu .menu-btns .loged-arrow{
	display:flex;
	padding: 7px 15px;
	border:2px solid white;
	border-radius: 7px 0px 0px 7px;
	cursor: pointer;
	transition: .5s all ease;
	color:white;
}
.herramientas .menu .menu-btns .loged-arrow{
	margin-left: -3px;
	border-radius: 0px 7px 7px 0px;
}
.herramientas .menu .menu-btns .añadir{
	padding: 7px 15px;
	border:2px solid white;
	border-radius: 7px;
	cursor: pointer;
	transition: .5s all ease;
	color:white;
}
.herramientas .menu .menu-btns .buscar{
	padding: 7px 15px;
	border:2px solid white;
	border-radius: 7px;
	cursor: pointer;
	transition: .5s all ease;
	color:white;
}
.user-options{
	background: black;
	color:white;
	position:absolute;
	width: 200px;
	left:72%;
	border-radius: 0 0 3px 3px;
	background: rgb(35, 34, 34);
	display:none;
}
.user-options .logout{
	display:flex;
	align-items: center;
	padding: 15px;
	cursor:pointer;
	font-size: 17px;
}
.user-options .logout p{
	margin-left: 5px;
}
.user-options .logout:hover{
	color: #EDF6B4;
}
.search{
	background: #333;
	padding:10px 0px;
	visibility: hidden;
}
.search form{
	box-sizing: border-box;
	margin:0 auto;
	display:flex;
	justify-content: center;
	align-items: flex-start;
}
.search input[type='text']{
	border:none;
	padding: 7px;
	border-radius: 7px 0px 0px 7px;
	width: 90%;
	font-size: 17px;
	margin-bottom: -5px;
}
.search input[type='submit']{
	border:none;
	padding: 7px;
	border-radius: 0px 7px 7px 0px;
	font-size: 17px;
	font-weight: 300;
	color:rgba(0,0,0,.7);
	cursor:pointer;
	margin-left: 3px;
}
.search input[type='submit']:hover{
	color:rgba(0,0,0,.9);
}

/*-------------------Estilos de destacados--------------------------*/

.destacados{
	margin-top: 50px;
}
.destacados .viewmore,
.comunes .viewmore{
	text-align: right;
	padding: 0 20px;
	margin-right: 5px;
}
.destacados .viewmore p,
.comunes .viewmore p{
	display:inline-block;
	cursor:pointer;
	font-weight: 300;
	color:#5297ED;
}
.destacados .viewmore p:hover,
.comunes .viewmore p:hover{
	color: #2075DD ;
}
.destacados .viewmore .vm-icon,
.comunes .viewmore .vm-icon{
	display:inline-block;
	cursor:pointer;
	padding: 3px 10px;
	background: #5297ED;
	color:white;
}
.destacados .viewmore .vm-icon:hover,
.comunes .viewmore .vm-icon:hover{
	padding: 2px 9px;
	border:1px solid #5297ED;
	background: white;
	color:#5297ED;
}
.destacados .titulo,
.comunes .titulo,
.comousar .titulo{
	text-align: center;
	margin-top: -18px;
}
.destacados .border,
.comunes .border,
.comousar .border{
	height: 1px;
	width: 40%;
	display: inline-block;
	border-bottom: 1px solid rgba(0,0,0,.6);
	margin-bottom: 7px;
}
.destacados .tit,
.comunes .tit,
.comousar .tit{
	font-size: 30px;
	font-weight: 300;
	display: inline-block;
	margin: 0 10px;
}
.d-anuncios{
	margin-top: 40px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.d-anuncios .anuncio{
	width: 23%;
	margin-bottom: 30px;
	cursor:pointer;
	border-radius: 1px;
	box-shadow: 0px 2px 5px gray;
}
.d-anuncios .anuncio:hover>img{
	opacity: 1;
}
.d-anuncios .anuncio:hover{
	box-shadow: 0px 5px 15px gray;
}
.d-anuncios .anuncio img{
	width: 100%;
	vertical-align: top;
	border-radius: 2px;
	opacity: .8;
	transition: .5s all ease;
}
.d-anuncios .anuncio .text{
	width: 100%;
	text-align: center;
}
.d-anuncios .anuncio .text p.tit{
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	color:rgba(0,0,0,.9);
}
.d-anuncios .anuncio .text p.info{
	color:rgba(0,0,0,.7);
	font-weight: 300;
	margin: 7px 0;
}

/*----------------------------Estilos comunes----------------------------*/

.comunes{
	margin-top: 150px;
}
.commons{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:50px;
}
.commons .common{
	width: 47%;
	border-radius: 2px;
	margin-bottom: 20px;
	display:flex;
	padding: 10px;
	cursor:pointer;
	box-shadow: 0px 5px 5px gray;
}
.commons .common:hover{
	box-shadow: 0px 5px 15px gray;
}
.commons .common:hover>img{
	opacity: 1;
}
.common img{
	height: 170px;
	width: 200px;
	opacity: .8;
	transition: .3s all ease;
}
.common .desc{
	margin-left: 5px;
	width:100%;
}
.common .desc .titulo{
	margin-top: 5px;
	font-size: 20px;
	text-align: left;
}
.common .desc .fecha i{
	display: inline-block;
	color:gray;
	font-size: 13px;
}
.common .desc .fecha p.date{
	display: inline-block;
	color:gray;
	font-size: 13px;
}
.common .desc .info p.if{
	color:gray;
	margin-top: 10px;
	font-size: 17px;
}
.common .desc .info .options{
	display:flex;
	justify-content: flex-end;
	align-items: baseline;
}
.common .desc .info .config a{
	display: inline-block;
	margin-top: 10px;
	text-align: right;
	padding: 5px 10px;
	border:2px solid #FDBF04;
	border-radius: 2px;
	transition: .3s all ease;
	color:black;
}
.common .desc .info .config a:hover{
	background: #FDBF04;
	color:white;
}
.common .desc .info .precio{
	display: inline-block;
	margin-top: 10px;
	text-align: right;
	padding: 10px 5px;
	border: 2px solid #57C75E;
	border-radius: 3px;
	margin-left: 3px;
}
.common .desc .info .precio p{
	font-weight: 300;
}
.common .desc .info .precio p span{
	font-weight: 600;
	color:rgba(0,0,0,.8);
}

/*---------------------------Estilos ComoUsar---------------------------*/

.comousar{
	margin-top: 150px;
}
.comousar .ayuda{
	margin-top: 50px;
	text-align: left;
	padding:20px 50px;
}
.comousar li{
	font-size: 27px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
	color:#D98119;
	list-style: thai;
}
.comousar li span{
	opacity: .7;
	font-size: 25px;
	color:gray;
}
.comousar .ayuda p{
	font-size: 18px;
	margin: 0 100px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 300;
}

/*----------------------------Estilos Footer----------------------------*/

footer{
	background: black;
	margin-top: 50px;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
}
footer .sanluis{
}
footer .king{
}
footer .king p{
}
footer .sanluis,
footer .king{
	font-size: 22px;
	font-weight: 300;
	color:white;
}

/*----------------------------------------------------------------------*/
/*---------------------------Media Queries------------------------------*/
/*----------------------------------------------------------------------*/


@media screen and (max-width: 1000px){
	.head img{
		height: 500px;
	}
	.herramientas{
		margin-top: 445px;
	}
	.head .categories a{
		width: 25%;
	}
	.user-options{
		left: 64%;
	}
	.destacados .border,
	.comunes .border{
		width: 35%;
	}
	.commons .common{
		width: 100%;
	}

}
@media screen and (max-width: 767px){

/*-----------------------Estilos head-----------------------*/
	.head .content{
		width: 100%;
	}
	.head img{
		top:55px;
		height: 420px;
	}
	.mobile-menu{
		display:block;
		z-index: 1000;
	}
	.head .nav nav{
		flex-direction: column;
		background: #F1AD29;
		visibility: hidden;
		z-index: -1;
	}
	.head .nav nav a,
	.head .nav nav .categorias{
		margin:0;
		text-align: left;
	}
	.head .nav nav a:hover,
	.head .nav nav .categorias:hover{
		padding: 20px;
		padding-bottom: 10px;
		border:none;
	}
	.head .nav nav .categorias{
		margin-left: -10px;
	}
	.head .nav nav .categorias:hover{
		margin-left: -10px;
		padding-left: 10px;
		padding-bottom: 11px;
	}
	.head .categories{
		left:15px;
		top:155px;
		border-radius: 0px 5px 5px 5px;
		border: .1px solid rgba(255,255,255,.2);
		width: 90%;
	}
	.head .categories a{
		width: 22%;
	}

/*--------------------Estilos herramientas--------------------*/
	.herramientas .content{
		width: 100%;
	}
	.herramientas{
		margin-top: 215px;
	}
	.herramientas .menu h1{
		margin-left: 5px;
		font-size: 20px;
		font-weight: 400;
	}
	.user-options{
		left: 60%;
		width: 150px;
	}
	

/*--------------------------Estilos de Destacados--------------------------*/
	.destacados{
		margin-top: 0;
	}
	.destacados .border,
	.comunes .border,
	.comousar .border{
		width: 30%;
	}
	.destacados .viewmore p,
	.comunes .viewmore p{
		font-size: 14px;
	}
	.destacados .viewmore .vm-icon,
	.comunes .viewmore .vm-icon{
		padding: 0px 7px;
		margin-right: 20px;
	}
	.destacados .viewmore .vm-icon:hover,
	.comunes .viewmore .vm-icon:hover{
		padding: 0px 7px;
		margin-right: 20px;
		border:none;
		background: #5297ED;
		color: white;
	}
	.d-anuncios .anuncio{
		width: 30%;
	}
	.d-anuncios .anuncio img{
		height: 150px;
		opacity: 1;
	}
	.d-anuncios .anuncio:hover{
		box-shadow: 0px 2px 5px gray;
	}
	.commons .common:hover{
		box-shadow: 0px 5px 5px gray;
	}
	.commons .common img{
		opacity: 1;
	}
	footer .sanluis,
	footer .king{
		font-size: 18px;
	}
}
@media screen and (max-width: 550px){
	.head img{
		height: 350px;
	}
	.destacados .border,
	.comunes .border,
	.comousar .border{
		width: 27%;
	}
	.herramientas{
		margin-top: 145px;
	}
	.user-options{
		left: 50%;
	}
	.user-options .logout{
		padding: 12px;
	}
	.destacados .tit,
	.comunes .tit,
	.comousar .tit{
		font-size: 25px;
	}
	.destacados .viewmore,
	.comunes .viewmore{
		margin-bottom: 5px;
	}
	.destacados .viewmore .vm-icon,
	.comunes .viewmore .vm-icon{
		margin-right: 0px;
	}
	.destacados .viewmore .vm-icon:hover,
	.comunes .viewmore .vm-icon:hover{
		padding: 0px 7px;
		margin-right: 0px;
		border:none;
		background: #5297ED;
		color: white;
	}
	.d-anuncios .anuncio img{
		height: 130px;
	}
	.common{
		flex-direction: column;
	}
	.common img{
		width: 90%;
		margin:0 20px;
	}
	.common .desc{
		text-align: center;
	}
	.common .desc .titulo{
		text-align: center;
		margin-top: 10px;
	}
	.common .desc .info .options{
		justify-content: space-between;
	}
	.common .desc .info .options .precio{
		width: 87%;
		text-align: center;
		margin-left: 10px;
	}
	.comousar .ayuda p{
	margin: 0 50px;
	}
	footer{
		padding:20px;
	}
	footer .sanluis,
	footer .king{
		font-size: 16px;
	}
}
@media screen and (max-width: 420px){
	.head img{
		height: 300px;
	}
	.herramientas{
		margin-top: 95px;
	}
	.herramientas .menu h1{
		font-size: 18px;
	}
	.herramientas .menu .menu-btns .login,
	.herramientas .menu .menu-btns .añadir,
	.herramientas .menu .menu-btns .buscar,
	.herramientas .menu .menu-btns .loged-user,
	.herramientas .menu .menu-btns .loged-arrow{
		padding: 7px 15px;
	}
	.user-options{
		left:45%;
	}
	.user-options .logout{
		padding: 10px;
		font-size: 16px;
	}
	.destacados .border,
	.comunes .border,
	.comousar .border{
		width: 20%;
	}
	.d-anuncios .anuncio{
		width: 47%;
	}
	.d-anuncios .anuncio .text p.tit{
		font-size: 18px;
	}
	.d-anuncios .anuncio .text p.info{
		font-size: 15px;
	}
	.comousar .ayuda p{
		margin: 0 30px;
		font-size: 17px;
		margin-bottom: 30px;
	}
	footer{
		flex-wrap: wrap;
	}
	footer .sanluis,
	footer .king{
		font-size: 20px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,.3);
		padding-bottom: 9px;
	}
	footer .king{
		margin-top: 10px;
	}

}
@media screen and (max-width: 360px){
	.mobile-menu h1{
		font-size: 22px;
		line-height: 35px;
	}
	.head img{
		height: 270px;
	}
	.herramientas{
		margin-top: 65px;
	}
	.herramientas .menu .menu-btns .login,
	.herramientas .menu .menu-btns .añadir,
	.herramientas .menu .menu-btns .buscar,
	.herramientas .menu .menu-btns .loged-user,
	.herramientas .menu .menu-btns .loged-arrow{
		padding: 7px 13px;
	}
	.user-options{
		left: 40%;
		width: 120px;
	}
	.user-options .logout{
		font-size: 13.5px;
	}
	.head .categories a{
		padding: 10px 5px;
	}
	.destacados .viewmore p,
	.comunes .viewmore p{
		font-size: 12px;
	}
	.destacados .viewmore .vm-icon,
	.comunes .viewmore .vm-icon{
		margin-right: -10px;
		padding: 0 5px;
	}
	.destacados .viewmore .vm-icon:hover,
	.comunes .viewmore .vm-icon:hover{
		padding: 0 5px;
		margin-right: -10px;
		border:none;
		background: #5297ED;
		color: white;
	}
	.comousar{
		margin-top: 40px;
	}
	.comousar .ayuda{
		margin-top: 10px;
	}
	.comousar .ayuda p{
		margin: 0 15px;
		font-size: 17px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 320px){
	.herramientas .menu .menu-btns .login,
	.herramientas .menu .menu-btns .añadir,
	.herramientas .menu .menu-btns .buscar,
	.herramientas .menu .menu-btns .loged-user,
	.herramientas .menu .menu-btns .loged-arrow{
		padding: 7px 10px;
	}
}